/* 
variable
*/
body {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #00252e;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
### encabezado ###
*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 2.5rem;
  margin-bottom: 5rem;
}

.header__logo {
  height: 40px;
}

/*
### main ###
*/
.main {
  text-align: center;
  width: 100%;
  margin-bottom: 10rem;
}

.main__titled {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
}

.main__paragraph {
  font-family: 'Open Sans', sans-serif;
  width: 550px;
  margin: 2rem auto;
  font-size: 1rem;
  font-weight: 400;
  color: #00252e;
  line-height: 1.5rem;
}

.main__img {
  max-width: 1000px;
  width: 100%;
}

.boxs {
  width: 80%;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box__img {
  margin-top: 3rem;
  height: 45px;
}

.box__paragraph {
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
  font-size: 5rem;
  font-weight: 700;
}

.box__paragraph span {
  display: block;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.section__info {
  padding: 5rem;
  width: 45%;
}

.section__img {
  width: 50%;
  height: 400px;
}

.text {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
}

.text__alert {
  font-size: 0.8rem;
  color: #ff4242;
  display: none;
}

.text__alert-active {
  display: block;
}

.text--titled {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.text--center {
  text-align: center;
}

/*
### btn ###
*/
.btn {
  height: 37px;
  cursor: pointer;
  background-color: #ff52bf;
  border: 1px solid #ff52bf;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
}

.btn-big {
  display: block;
  margin: auto;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  padding: 1.5rem;
  width: 350px;
  border-radius: 40px;
  border: 1px solid #ff52bf;
  -webkit-box-shadow: 1px 3px 5px #b1b0b0;
          box-shadow: 1px 3px 5px #b1b0b0;
  background-color: #ff52bf;
  color: #f5faff;
  margin-bottom: 5rem;
  font-weight: 700;
}

.btn-outline {
  font-size: 1rem;
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid #ff52bf;
  color: #ff52bf;
  border-radius: 20px;
}

/*
### sections ###
*/
.section {
  width: 100%;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem;
}

.bg__section {
  position: relative;
  width: 100%;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 500px;
  margin-bottom: 10rem;
  background-color: #f5faff;
}

/*
###bg img section ##
*/
.img__movil {
  display: none;
}

.img {
  width: 100%;
  height: 150px;
  left: 0;
}

.bg__img__top {
  position: absolute;
  top: -145px;
}

.bg__img__bottom {
  position: absolute;
  bottom: -130px;
}

.section__Community {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10rem;
}

.footer {
  position: relative;
  height: 450px;
  margin: 0;
  background-color: #00252e;
  color: #fff;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__info {
  width: 45%;
}

.footer__logo {
  fill: #fff;
}

.footer__text {
  width: 370px;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
}

.footer__icon {
  margin-right: 1rem;
  height: 1rem;
}

.footer__links {
  margin-top: 3rem;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link {
  font-size: 1.5rem;
  color: #fff;
}

.form {
  width: 45%;
}

.form__titled {
  font-size: 2rem;
}

.grupos {
  width: 90%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.txt {
  width: 300px;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #fff;
}

.btn-outline:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 5px #b1b0b0;
          box-shadow: 1px 1px 5px #b1b0b0;
  border: 1px solid #ff8fd8;
  color: #ff8fd8;
}

.btn-big:hover {
  cursor: pointer;
  background-color: #ff8fd8;
  border: 1px solid #ff8fd8;
}

.btn:hover {
  cursor: pointer;
  background-color: #ff8fd8;
  border: 1px solid #ff8fd8;
}

.link:hover {
  cursor: pointer;
  font-size: 1.5rem;
  color: #17a4ba;
}

.txt:focus {
  outline: 1px solid #00252e;
}

/*

big


*/
@media screen and (max-width: 999px) {
  .img__desktop {
    display: none;
  }
  .img__movil {
    display: inline;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 1.5rem;
    margin-bottom: 5rem;
  }
  .header__logo {
    height: 19px;
    margin: auto 0;
  }
  .btn {
    height: 37px;
    cursor: pointer;
    background-color: #ff52bf;
    border: 1px solid #ff52bf;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
  }
  .btn-big {
    display: block;
    margin: auto;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    width: 80%;
    border-radius: 40px;
    border: 1px solid #ff52bf;
    margin-bottom: 3rem;
  }
  .btn-outline {
    font-size: 0.8rem;
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid #ff52bf;
    color: #ff52bf;
    border-radius: 20px;
  }
  .main {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 10rem;
  }
  .main__titled {
    font-size: 1.5rem;
  }
  .main__paragraph {
    width: auto;
    margin: 2rem auto;
    font-size: 0.8rem;
  }
  .boxs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  .box__paragraph {
    font-size: 3.5rem;
  }
  .section {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .bg__section {
    position: relative;
    width: 100%;
    padding: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: auto;
    margin-bottom: 10rem;
    background-color: #f5faff;
  }
  .section__info {
    padding: 0;
    width: 100%;
  }
  .text {
    font-size: 1rem;
    font-weight: 95%;
    text-align: center;
  }
  .text--titled {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .section__img {
    width: 100%;
    height: 400px;
  }
  .section__Community {
    height: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .grupos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-bottom: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */